.box1
        {
            line-height: 50px;
            border-radius: 35px;
            background-color: whitesmoke;
            box-shadow: 15px 15px 10px #c1c1c1, -10px -10px 10px  white;
        }
        
        .box1 img:first-child {
            border: 5px solid orangered;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.632);
            padding: px;
        }
        .input-group{

            box-shadow:5px 5px 5px #c1c1c1 inset, 5px 5px 5px whitesmoke;
            width: 70%;
            
        }
        .input-group *{
            background-color: transparent !important;
        }
html{
            scroll-behavior: smooth;
        }
        

        *{
            transition: 0.5s !important;
            font-family: calibri;
        }
        nav{
            background:#232323;
        }
        .navbar-brand:hover{
            color: #000000 !important;
            background: #ffffff;
        }
        .nav-link{
            color:white !important;
            padding: 10px !important;
            margin-right: 3px !important;
        }
        .nav-item:hover .nav-link{
            color: #000000 !important;
            background: #ffffff;
            border-radius: 20px;
        }
      .info .address:hover .fa-solid,.info .email:hover .fa-solid,.info .phone:hover .fa-solid{
        color:white !important;
        background: #006a4e;
      }
      .list-group li{
        list-style-type: circle;
      }

      .search
{
    background: url(https://picsum.photos/1600/900);
    height: 450px;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

.logo
{
    font-weight: 800;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.8);
}
.logoback span
{
    padding: 5px 0px;
    box-shadow: 0px 0px 6px black;
    position: relative;
    border-radius: 10px;
    text-shadow: 2px 2px 2px grey;
}
.logoback span:hover
{
    text-shadow: none;
    -webkit-text-fill-color: transparent ;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background: transparent;
}

.logoback span::after
{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    bottom: 0;
}
.logoback span::after
{
    transform: scale(0,1);
    transition: transform 0.5s ease;
}
.logoback span:hover::after
{
    transform: scale(1,1);
}

.logoback span::before
{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
}
.logoback span::before
{
    transform: scale(0,1);
    transition: transform 0.5s ease;
}
.logoback span:hover::before
{
    transform: scale(1,1);
}
/*
.nav-link span::before
{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    background: white !important;
    left: 0;
    top: 0;
}
.nav-link span::before
{
    transform: scale(0,1);
    transition: transform 0.5s ease;
}
.navlink span:hover::before
{
    transform: scale(1,1);
}*/
.logoback .fa
{
    padding: 10px;
}
.water1 div i{
            border-radius: 100%;
            font-size: 30px;
            box-shadow: 13px 9px 13px -1px rgba(0,0,0,0.50),inset 13px 9px 13px -1px rgba(0,0,0,0.20);
        }
        .water1>div{
            margin: 10px 0px;
        }
        .water1 div i{
            background: #ffffff !important;
        }
        .water1 div:nth-child(odd):hover i{
            border-radius: 20% 70% 70% 30% / 30% 30% 70% 70% !important;
            color: white;
            transition: 0.3s ease !important;
            box-shadow: 13px 9px 13px -1px rgba(0,0,0,0.75);
        }
        .water1 div:nth-child(even):hover i{
            border-radius: 65% 35% 60% 40% / 40% 33% 67% 60%  !important;
            color: white;
            
            transition: 0.3s ease !important;
            box-shadow: 13px 9px 13px -1px rgba(0,0,0,0.75);
        }
         
        .water1 div:nth-of-type(1):hover i{
            background: #0dcaf0 !important;
            color: white !important;
        }
        .water1 div:nth-of-type(2):hover i{
            background: #ffc107 !important;
            color: white !important;
        }
        .water1 div:nth-of-type(3):hover i{
            background: #0d6efd !important;
            color: white !important;
        }
        .water1 div:nth-of-type(4):hover i{
            background: #198754 !important;
            color: white !important;
        }
        .water1 div:nth-of-type(5):hover i{
            background: #010101 !important;
            color: white !important;
        }
        .water1 div:nth-of-type(6):hover i{
            background: deeppink !important;
            color: white !important;
        }
        .water1>div:nth-child(even) {
            background:#f5f5dc !important;
        }
        .water1>div:nth-child(odd) {
            background:#faebd7 !important;
        }
        .water1 .skill-text{
            font-size: 22px;
            font-weight: 600;
        }
        .skills{
            background: #000;
        }
    .social .btn-group{
        //background: #b8b8b8;
    }
    .social .btn:hover{
        background: #fff !important;
    }

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}
footer .btn-group{
    background: #1c1c1c;
}